body {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}

b {
    font-size: 110%;
}

em {
    color: red;
}

#maincontainer {
    height: 100vh;
    width: 100vw;
    position:fixed;
    top:0;
    left:0;
}

#topsection {
    background: #EAEAEA;
    height: 90px; /*Height of top section*/
}

#topsection h1 {
    margin: 0;
    padding-top: 15px;
}

#contentwrapper {
    float: left;
    width: 100%;
    height: 100%;
}

#contentcolumn {
    margin: 0 200px 0 230px; /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/
    height: 100%;
}

#myCanvas {
    width:100%;
    height: 100%;
}

#leftcolumn {
    float: left;
    width: 230px; /*Width of left column*/
    height: 100%;
    margin-left: -100%;
    background: #C8FC98;
}

#rightcolumn {
    float: left;
    width: 200px; /*Width of right column*/
    height: 100%;
    margin-left: -200px; /*Set left marginto -(RightColumnWidth)*/
    background: #FDE95E;
}

#footer {
    clear: left;
    width: 100%;
    background: black;
    color: #FFF;
    text-align: center;
    padding: 4px 0;
}

#footer a {
    color: #FFFF80;
}

.innertube {
    margin: 0px; /*Margins for inner DIV inside each column (to provide padding)*/
    margin-top: 0;
    height: 100%;
}

/* ####### responsive layout CSS ####### */

@media (max-width: 840px) {
    /* 1st level responsive layout break point- drop right column down*/
    #leftcolumn {
        margin-left: -100%;
    }

    #rightcolumn {
        float: none;
        width: 100%;
        margin-left: 0;
        clear: both;
    }

    #contentcolumn {
        margin-right: 0; /*Set margin to LeftColumnWidth*/
    }
}

@media (max-width: 600px) {
    /* 2nd level responsive layout break point- drop left column down */
    #leftcolumn {
        float: none;
        width: 100%;
        clear: both;
        margin-left: 0;
    }

    #contentcolumn {
        margin-left: 0;
    }
}