
body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.50;
    color: #444444;
    background-color: white;
    text-decoration: none;
    word-spacing: normal;
    text-align: left;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0;
    width: 100%;
    height: 100%;
    user-select: none;
}

#myCanvas {
    width: 100%;
    height: 100%;
    position: absolute;
    background: lightblue;
}

.slideout-sidebar {
    background: white;
    position: fixed;
    top: 0;
    right: -380px;
    z-index: 100000000;
    width: 350px;
    height: 100%;
    overflow-y: scroll;
    transition: all 300ms ease-in-out;
    border-left: 2px solid #444444;
    margin-top: 0;
    padding: 0px 10px 10px 20px;
}

.info-icon {
    width: 100px;
    height: auto;
    padding-top: 20px;
}

#info-button {
    display: none;
}

#info-button:hover {
    cursor: pointer;
}

.info-button {
    position: absolute;
    color: #444444;
    right: 15px;
    top: 12px;
    z-index: 1;
    transition: all 300ms ease-in-out;
}

.info-button:hover {
    cursor: pointer;
    color: black;
}

#info-button:checked ~ .slideout-sidebar {
    right: 0;
}

#info-button:checked + .info-button {
    right: 400px;
}

#myDatGuiContainer {
    margin-top: 20px;
    margin-bottom: 25px;
}

h1, h2, h3 {
    font-weight: normal;
    -webkit-transform-origin: 0% 100%;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 15px;
    font-size: 22px;
    font-weight: normal;
}

h1 a {
    color: #fffbfb;
}

h2 {
    font-size: 18px;
    line-height: 1.2;
    padding-top: 30px;
    padding-left: 0px;
    font-weight: bold;
    margin-top: 0px;
    padding-bottom: 10px;
    margin-bottom: 0;
    letter-spacing: 0px;
    /*border-bottom: 2px solid #d4d4d4;*/
    color: #4E7A4A;
}

h3 {
    font-size: 14px;
    line-height: 1.2;
    font-weight: bold;
    color: #8F3434;
    padding: 0;
    margin: 0;
    padding-left: 0px;
    padding-right: 40px;
    padding-top: 14px;
    padding-bottom: 8px;
}

.xeokit-camera-pivot-marker {
    color: #ffffff;
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    border: 2px solid #ebebeb;
    background: #4444;
    visibility: hidden;
    box-shadow: 5px 5px 15px 1px #444444;
    z-index: 10000;
    pointer-events: none;
}

