body {
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0;
  width: 100%;
  height: 100%;
  user-select: none;
}

#myCanvas {
  width: 100%;
  height: 100%;
  position: absolute;
  background: lightblue;
  background-image: linear-gradient(lightblue, white);
}

#myCanvas-small {
  width: 200px;
  height: 200px;
  left: 200px;
  position: absolute;
  background: lightblue;
  background-image: linear-gradient(lightblue, white);
}

#myCanvas-medium {
  width: 600px;
  height: 600px;
  left: 200px;
  top: 100px;
  position: absolute;
  background: lightblue;
  background-image: linear-gradient(lightblue, white);
}

.xeokit-camera-pivot-marker {
  color: #ffffff;
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  border: 2px solid #ebebeb;
  background: #4444;
  visibility: hidden;
  box-shadow: 5px 5px 15px 1px #212529;
  z-index: 10000;
  pointer-events: none;
}

a {
  /*text-decoration: none;*/
  /*color: #212529;*/
}

a:hover {
  text-decoration: underline;
}
